.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card{
  background:#fff;
  padding:25px;
  text-align:center;
  border-radius:10px;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-6px);
}
.card img{
  width:80px;
  margin-bottom:15px;
}
.card h3{
  font-size:20px;
  margin-bottom:10px;
}
.card p{
  color:#6b7280;
  font-size:14px;
  line-height:1.5;
}